@font-face {
  font-family: 'Pokemon Hollow';
  src: url('PokemonHollow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pokemon Solid';
  src: url('PokemonSolid.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.modal-backdrop {
  width: 100% !important;
}

.card-text {
  margin-bottom: 0px;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  background-color: rgb(14, 15, 19) !important;
  width: 100%;
}
